.footer {
  padding-top: 60px;
  padding-bottom: 33px;

  @include media-screen-desktop() {
    padding-top: 40px;
  }

  @include mobile-screen-desktop() {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__column--primary {
  width: 321px;

  @include small-screen-desktop() {
    width: 100%;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 26px;
  align-self: flex-start;

  @include small-screen-desktop() {
    margin-bottom: 15px;
  }

  @include mobile-screen-desktop() {
    margin-bottom: 5px;
  }
}

.footer__text {
  font-weight: 300;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: map-get($colors, "light-grey");
  margin-bottom: 55px;

  @include small-screen-desktop() {
    margin-bottom: 7px;
    text-align: center;
  }

  @include mobile-screen-desktop() {
    font-size: 16px;
  }
}


.footer__paragraph {
  font-weight: 300;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: map-get($colors, "light-grey");

  @include small-screen-desktop() {
    font-size: 17px;
    text-align: center;
  }

  @include mobile-screen-desktop() {
    font-size: 16px;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 19px;
  line-height: 1.3;
  color: map-get($colors, "black");
  margin-bottom: 25px;

  @include small-screen-desktop() {
    margin-bottom: 15px;
  }

  @include mobile-screen-desktop() {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include mobile-screen-desktop() {
    gap: 10px;
  }
}

.footer__link {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  color: map-get($colors, "light-grey");

  @include small-screen-desktop() {
    font-size: 17px;
  }

  @include mobile-screen-desktop() {
    font-size: 16px;
  }
}

.footer__border {
  width: 100%;
  border: 0.6px solid #C4C4C4;
  margin-top: 77px;
  margin-bottom: 33px;

  @include media-screen-desktop() {
    margin-top: 43px;
  }

  @include small-screen-desktop() {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @include mobile-screen-desktop() {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.footer__link-column {
  width: 100%;
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;

  @include small-screen-desktop() {
    gap: 20px;
  }
}

.footer__link-icon {
  align-self: center;
}

