.footer {
  padding-top: 60px;
  padding-bottom: 33px;

  @include media-tablet-screen() {
    padding-top: 40px;
  }

  @include media-phone-screen() {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 77px;

  @include media-tablet-screen() {
    gap: 50px;
  }

  @include media-small-screen() {
    gap: 40px;
  }

  @include media-phone-screen() {
    gap: 20px;
  }
}

.footer__column--primary {
  width: 321px;

  @include media-small-screen() {
    width: 100%;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 26px;
  align-self: flex-start;

  @include media-small-screen() {
    margin-bottom: 15px;
  }

  @include media-phone-screen() {
    margin-bottom: 5px;
  }
}

.footer__text {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: calc(28 / 18);
  color: map-get($colors, "light-grey");
  margin-bottom: 55px;

  @include media-small-screen() {
    margin-bottom: 7px;
    text-align: center;
  }

  @include media-phone-screen() {
    font-size: 1.6rem;
  }
}

.footer__paragraph {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: calc(28 / 18);
  color: map-get($colors, "light-grey");

  @include media-small-screen() {
    font-size: 1.7rem;
    text-align: center;
  }

  @include media-phone-screen() {
    font-size: 1.6rem;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.3;
  color: map-get($colors, "black");
  margin-bottom: 25px;

  @include media-small-screen() {
    margin-bottom: 15px;
  }

  @include media-phone-screen() {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include media-phone-screen() {
    gap: 10px;
  }
}

.footer__link {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.2;
  color: map-get($colors, "light-grey");

  @include media-small-screen() {
    font-size: 1.6rem;
  }

  @include media-phone-screen() {
    font-size: 1.5rem;
  }
}


.footer__link-column {
  width: 100%;
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
  border-top: 0.6px solid #C4C4C4;
  padding-top: 33px;

  @include media-small-screen() {
    gap: 20px;
    padding-top: 20px;
  }

}

.footer__link-icon {
  align-self: center;
}

