.guides {
  padding-top: 115px;
  padding-bottom: 124px;
  background-image: url("../static/Image/circle.svg"),
                    url("../static/Image/plus_testimonials.svg"),
                    url("../static/Image/plus-2.svg");
  background-repeat: no-repeat;
  background-position: left 490px top 175px, right 300px top 135px,
                       bottom 250px left 850px;

  @include media-tablet-screen() {
    padding-top: 40px;
    padding-bottom: 20px;
    background-image: unset;
  }

  @include media-phone-screen() {
    padding-top: 10px;
  }
}

.guides__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-small-screen() {
    flex-wrap: wrap;
    gap: 20px;
  }

  @include media-phone-screen() {
    flex-direction: column;
  }
}

.guides__content {
  width: 410px;

  @include media-tablet-screen() {
    width: 40%;
  }

  @include media-small-screen() {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.guides__title {
  @include title();
  margin-bottom: 20px;

  @include media-phone-screen() {
    margin-bottom: 10px;
  }
}

.guides__text {
  font-weight: 300;
  font-size: 1.7rem;
  line-height: calc(30 / 17);
  color: map-get($colors,"medium-grey");
  margin-bottom: 39px;

  @include media-tablet-screen() {
    font-size: 1.9rem;
    margin-bottom: 29px;
  }

  @include media-small-screen() {
    margin-bottom: 20px;
  }

  @include media-phone-screen() {
    margin-bottom: 20px;
  }
}

.guides__button {
  min-width: 164px;
  padding: 13px 43px;

  @include media-phone-screen() {
    width: 150px;
    padding: 10px 30px;
  }
}

.guides__image {
  @include media-tablet-screen() {
      width: 55%;
    }

  @include media-small-screen() {
      width: 100%;
    }
}


