.guides {
  padding-top: 115px;
  padding-bottom: 124px;
  background-image: url("../static/Image/circle.svg"),
                    url("../static/Image/plus_testimonials.svg"),
                    url("../static/Image/plus-2.svg");
  background-repeat: no-repeat;
  background-position: left 490px top 175px, right 300px top 135px,
                       bottom 250px left 850px;
}

@media screen and (max-width: 1260px) {
  .guides {
    padding-top: 40px;
    padding-bottom: 20px;
    background-image: unset;
  }
}

.guides__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .guides__container {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.guides__content {
  width: 410px;
}

@media screen and (max-width: 1260px) {
  .guides__content {
    width: 40%;
  }
}

@media screen and (max-width: 960px) {
  .guides__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.guides__title {
  @include title();
  margin-bottom: 20px;
}

.guides__text {
  font-weight: 300;
  font-size: 17px;
  line-height: calc(30 / 17);
  color: map-get($colors,"medium-grey");
  margin-bottom: 39px;
}

@media screen and (max-width: 1260px) {
  .guides__text {
    font-size: 19px;
    margin-bottom: 29px;
  }
}

@media screen and (max-width: 960px) {
  .guides__text {
    text-align: center;
    margin-bottom: 20px;
  }
}

.guides__button {
  @include button();
  min-width: 164px;
  padding:  13px 43px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  border-radius: 8px;
}

@media screen and (max-width: 1260px) {
  .guides__image {
    width: 55%;
  }
}

@media screen and (max-width: 960px) {
  .guides__image {
    width: 100%;
  }
}
