.header {
  padding-top: 58px;
  padding-bottom: 94px;

  @include media-tablet-screen() {
    padding-top: 35px;
    padding-bottom: 60px;
  }

  @include media-phone-screen() {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-phone-screen() {
    flex-direction: column;
    gap: 25px;
  }
}

.header__nav {
  display: flex;

  @include media-phone-screen() {
    flex-direction: column;
  }
}

.header__list {
  display: flex;
  gap: 35px;
  align-items: center;

  @include media-small-screen() {
    gap: 20px;
  }
}

.header__link {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: calc(19 / 16);
  color: map-get($colors, "grey");
}

.header__link--primary {
  color: map-get($colors, "blue");
}

.header__wrapper-button {
  display: flex;
  gap: 18px;

  @include media-phone-screen() {
    gap: 25px;
    justify-content: center;
  }
}

.header__button {
  min-width: 132px;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  padding: 10px 46px;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2;

  @include media-small-screen() {
    min-width: 100px;
    padding: 10px 20px;
  }

  @include media-phone-screen() {
    padding: 7px 20px;
  }
}

.header__button--outline {
  color: map-get($colors, "orange");
}

.header__button--primary {
  color: #FFFFFF;
  background-color: #FB8F1D;
}
