.header {
  padding-top: 58px;
  padding-bottom: 94px;

  @include media-screen-desktop() {
    padding-top: 35px;
    padding-bottom: 60px;
  }

  @include mobile-screen-desktop() {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile-screen-desktop() {
    flex-direction: column;
    gap: 25px;
  }
}

.header__nav {
  display: flex;
  gap: 34px;

  @include small-screen-desktop() {
    gap: 80px;
  }

  @include mobile-screen-desktop() {
    flex-direction: column;
    gap: 25px;
  }
}

.header__list {
  display: flex;
  gap: 35px;
  align-items: center;

  @include small-screen-desktop() {
    gap: 20px;
  }
}

.header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: map-get($colors, "grey");
}

.header__link--first {
  color: map-get($colors, "blue");
}

.header__form {
  display: flex;
  gap: 18px;

  @include mobile-screen-desktop() {
    gap: 25px;
    justify-content: center;
  }
}

.header__button {
  min-width: 132px;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  padding: 10px 46px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;

  @include small-screen-desktop() {
    min-width: 100px;
    padding: 10px 20px;
  }

  @include mobile-screen-desktop() {
    padding: 7px 20px;
  }
}

.header__button--first {
  color: map-get($colors, "orange");
}

.header__button--secondary {
  @include button();
}
