.hero__section {
  padding-bottom: 143px;

  @include media-tablet-screen() {
    padding-bottom: 72px;
  }

  @include media-phone-screen() {
    padding-bottom: 40px;
  }
}

.container__hero {
  display: flex;
  gap: 147px;

  @include media-tablet-screen() {
    gap: 100px;
  }

  @include media-small-screen() {
    gap: 30px;
    flex-wrap: wrap;
  }

  @include media-phone-screen() {
    flex-direction: column;
  }
}

.hero__content {
  width: 480px;
  display: flex;
  flex-direction: column;

  @include media-tablet-screen() {
    width: 47%;
  }

  @include media-small-screen() {
    width: 100%;
  }
}

.hero__text {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: calc(27 / 22);
  color: map-get($colors,"blue");
  margin-bottom: 48px;

  @include media-small-screen() {
    margin-bottom: 30px;
  }

  @include media-phone-screen() {
    text-align: center;
  }

  &::after {
    content: "";
    display: block;
    width: 32px;
    height: 2px;
    background-color: map-get($colors,"blue");
    margin-top: 21px;
  }

  @include media-small-screen() {
    margin-top: 11px;
  }

  @include media-phone-screen() {
    margin-right: auto;
    margin-left: auto;
  }
}

.hero__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 35px;

  @include media-phone-screen() {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
}

.hero__select {
  -webkit-appearance: none;
  background-image: url("../static/Image/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px top 23px;
  min-width: 220px;
  padding: 15px 31px;
  font-size: 1.5rem;
  line-height: 1.2;
  border-radius: 6px;
  color: map-get($colors,"dark-grey");

  @include media-tablet-screen() {
    min-width: 180px;
    padding: 15px 21px;
  }
}

.hero__button {
  width: 180px;
  padding: 15px 59px;
  font-size: 1.7rem;

  @include media-phone-screen() {
    width: 150px;
    padding: 10px 45px;
  }
}

.hero__image {
  @include media-wide-screen-desktop (){
      width: 50%;
    }

  @include media-tablet-screen (){
    width: 46%;
  }

  @include media-small-screen (){
    width: 100%;
  }
}






