.hero__section {
  padding-bottom: 143px;

  @include media-screen-desktop() {
    padding-bottom: 72px;
  }

  @include mobile-screen-desktop() {
    padding-bottom: 40px;
  }
}

.container__hero {
  display: flex;
  gap: 147px;

  @include small-screen-desktop() {
    gap: 30px;
    flex-wrap: wrap;
  }

  @include mobile-screen-desktop() {
    flex-direction: column;
  }
}

.hero__content {
  width: 480px;
  display: flex;
  flex-direction: column;

  @include media-screen-desktop() {
    width: 47%;
  }

  @include small-screen-desktop() {
    width: 100%;
  }
}

.hero__title {
  color: map-get($colors,"blue");
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 1.2;
  margin-bottom: 74px;

  @include media-screen-desktop() {
    font-size: 5.4rem;
  }

  @include small-screen-desktop() {
    margin-bottom: 25px;
  }

  @include mobile-screen-desktop() {
    font-size: 4.2rem;
    text-align: center;
    margin-bottom: 15px;
  }
}

.hero__text {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: calc(27 / 22);
  color: map-get($colors,"blue");
  margin-bottom: 48px;

  @include small-screen-desktop() {
    margin-bottom: 30px;
  }

  @include mobile-screen-desktop() {
    text-align: center;
  }

  &::after {
    content: "";
    display: block;
    width: 32px;
    height: 2px;
    background-color: map-get($colors,"blue");
    margin-top: 21px;
  }

  @include small-screen-desktop() {
    margin-top: 11px;
  }

  @include mobile-screen-desktop() {
    margin-right: auto;
    margin-left: auto;
  }
}

.hero__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 35px;
  margin-bottom: 55px;

  @include small-screen-desktop() {
    margin-bottom: 30px;
  }

  @include mobile-screen-desktop() {
    grid-template-columns: 1fr;
    row-gap: 15px;
    margin-bottom: 20px;
  }
}

.hero__select {
  -webkit-appearance: none;
  background-image: url("../static/Image/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px top 23px;
  min-width: 220px;
  padding: 15px 31px;
  font-size: 1.5rem;
  line-height: 1.2;
  border-radius: 6px;
  color: map-get($colors,"dark-grey");

  @include media-screen-desktop() {
    min-width: 180px;
    padding: 15px 21px;
  }
}

.hero__button {
  @include button();
  width: 180px;
  padding: 15px 59px;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.2;
  border-radius: 8px;

  @include mobile-screen-desktop() {
    width: 150px;
    padding: 10px 45px;
  }
}

@media screen and (max-width: 1380px) {
  .hero__image {
    width: 50%;
  }
}

@media screen and (max-width: 1260px) {
  .hero__image {
    width: 46%;
  }
}

@media screen and (max-width: 960px) {
  .hero__image {
    width: 100%;
  }
}


