.stories {
  padding-top: 139px;
  padding-bottom: 271px ;
  background-image: url("../static/Image/circle.svg"),
                    url("../static/Image/circle.svg");
  background-repeat: no-repeat;
  background-position: left 300px bottom 440px, right 800px bottom 180px;

  @include media-screen-desktop() {
    padding-top: 45px;
    padding-bottom: 40px;
    background-image: unset;
  }

  @include small-screen-desktop() {
    padding-bottom: 10px;
  }

  @include mobile-screen-desktop() {
    padding-top: 25px;
  }
}

.stories__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;

  @include mobile-screen-desktop() {
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.stories__title {
  @include title();

  @include mobile-screen-desktop() {
    @include mobile-title();
  }
}

.stories__logo-link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.2;
  color: map-get($colors,"orange");
}

.stories__list {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;

  @include small-screen-desktop() {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @include mobile-screen-desktop() {
    flex-direction: column;
  }
}

.stories__item {
  width: 270px;

  @include small-screen-desktop() {
    width: 37%;
  }

  @include mobile-screen-desktop() {
    width: 100%;
  }
}

.stories__wrapper-image {
  height: 233px;
  overflow: hidden;

  @include media-screen-desktop() {
    height: 203px;
  }
}

.stories__image {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.stories__list-content {
  padding: 13px 35px 5px 0;

  @include small-screen-desktop() {
    padding: 7px;
    text-align: center;
  }
}

.stories__subtitle {
  font-weight: 700;
  font-size: 19px;
  line-height: calc(30 / 19);
  color: map-get($colors,"black");
  margin-bottom: 13px;

  @include wide-screen-desktop() {
    font-size: 17px;
    display: -webkit-box;
    -webkit-box-orient: vertical ;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  @include small-screen-desktop() {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

.stories__text {
  font-size: 15px;
  line-height: calc(26 / 15);
  margin-bottom: 26px;
  color: map-get($colors,"medium-grey");

  @include media-screen-desktop() {
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical ;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  @include mobile-screen-desktop() {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.stories__link {
  color: map-get($colors,"orange");
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
}
