.testimonials {
  padding-top: 124px;
  padding-bottom: 139px;
  background-image: url("../static/Image/circle.svg"),
                    url("../static/Image/circle.svg");
  background-repeat: no-repeat;
  background-position: left 320px bottom 410px,
                       right 605px top 225px;

  @include media-screen-desktop() {
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: unset;
  }

  @include mobile-screen-desktop() {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.testimonials__title {
  @include title();
  margin-bottom: 60px;

  @include media-screen-desktop() {
    margin-bottom: 20px;
  }

  @include small-screen-desktop() {
    text-align: center;
    margin-bottom: 30px;
  }

  @include mobile-screen-desktop() {
    @include mobile-title();
    margin-bottom: 15px;
  }
}

.testimonials__row {
  display: flex;
  align-items: center;
  gap: 124px;

  @include media-screen-desktop() {
    gap: 80px;
  }

  @include small-screen-desktop() {
    gap: 40px;
  }

  @include mobile-screen-desktop() {
    flex-direction: column;
    gap: 20px;
  }
}

.testimonials__wrapper {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include small-screen-desktop() {
    width: 45%;
  }

  @include mobile-screen-desktop() {
    width: 100%;
    align-items: center;
  }
}

.testimonials__wrapper-icon {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 30px;

  @include small-screen-desktop() {
    margin-bottom: 20px;
  }

  @include mobile-screen-desktop() {
    margin-bottom: 10px;
  }
}

.testimonials__quote {
  font-size: 24px;
  line-height: calc(36 / 24);
  color: map-get($colors,"black");
  margin-bottom: 40px;

  @include media-screen-desktop() {
    margin-bottom: 20px;
  }

  @include small-screen-desktop() {
   font-size: 20px;
  }

  @include mobile-screen-desktop() {
    font-size: 19px;
    text-align: center;
    margin-bottom: 10px;
  }
}

.testimonials__text {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
  color: map-get($colors,"black");
  margin-bottom: 10px;

  @include mobile-screen-desktop() {
    font-size: 19px;
    margin-bottom: 5px;
  }
}

.testimonials__paragraph {
  font-size: 18px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.85);

  @include mobile-screen-desktop() {
    font-size: 17px;
  }
}

.testimonials__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  @include small-screen-desktop() {
    width: 46%;
  }

  @include mobile-screen-desktop() {
    width: 100%;
  }
}

.testimonials__image {
  border-radius: 10px;
}

.testimonials__icon-wrapper {
  position: absolute;
  left: -14px;
  bottom: -12px;
}

.testimonials__content-image {
  min-width: 132px;
  display: flex;
  gap: 20px;
  background-color: map-get($colors,"white");
  border-radius: 16px 0 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 0 0 30px;

  @include mobile-screen-desktop() {
    min-width: 100px;
    padding: 15px 0 0 15px;
    gap: 10px;
  }
}


