.testimonials {
  padding-top: 124px;
  padding-bottom: 139px;
  background-image: url("../static/Image/circle.svg"),
                    url("../static/Image/circle.svg");
  background-repeat: no-repeat;
  background-position: left 320px bottom 410px,
                       right 605px top 225px;

  @include media-tablet-screen() {
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: unset;
  }

  @include media-phone-screen() {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.testimonials__title {
  @include title();
  margin-bottom: 60px;

  @include media-tablet-screen() {
    margin-bottom: 20px;
  }

  @include media-small-screen() {
    text-align: center;
    margin-bottom: 30px;
  }

  @include media-phone-screen() {
    margin-bottom: 15px;
  }
}

.testimonials__row {
  display: flex;
  align-items: center;
  gap: 124px;

  @include media-tablet-screen() {
    gap: 80px;
  }

  @include media-small-screen() {
    gap: 40px;
  }

  @include media-phone-screen() {
    flex-direction: column;
    gap: 20px;
  }
}

.testimonials__wrapper {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include media-small-screen() {
    width: 45%;
  }

  @include media-phone-screen() {
    width: 100%;
    align-items: center;
  }
}

.testimonials__wrapper-icon {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 30px;

  @include media-small-screen() {
    margin-bottom: 20px;
  }

  @include media-phone-screen() {
    margin-bottom: 10px;
  }
}

.testimonials__quote {
  font-size: 2.4rem;
  line-height: calc(36 / 24);
  color: map-get($colors,"black");
  margin-bottom: 40px;

  @include media-tablet-screen() {
    margin-bottom: 20px;
  }

  @include media-small-screen() {
   font-size: 2rem;
  }

  @include media-phone-screen() {
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 10px;
  }
}

.testimonials__content--author {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.3;
  color: map-get($colors,"black");
  margin-bottom: 10px;

  @include media-phone-screen() {
    font-size: 1.9rem;
    margin-bottom: 5px;
  }
}

.testimonials__content--position {
  font-size: 1.8rem;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.85);

  @include media-phone-screen() {
    font-size: 1.7rem;
  }
}

.testimonials__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  @include media-small-screen() {
    width: 46%;
  }

  @include media-phone-screen() {
    width: 100%;
  }
}

.testimonials__image {
  border-radius: 10px;
}

.testimonials__icon-wrapper {
  position: absolute;
  left: -14px;
  bottom: -12px;
}

.testimonials__content-image {
  min-width: 132px;
  display: flex;
  gap: 20px;
  background-color: map-get($colors,"white");
  border-radius: 16px 0 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 0 0 30px;

  @include media-phone-screen() {
    min-width: 100px;
    padding: 15px 0 0 15px;
    gap: 10px;
  }
}


