.world {
  padding-top: 143px;
  padding-bottom: 146px;
  background-image: url("../static/Image/circle.svg");
  background-repeat: no-repeat;
  background-position: bottom 300px right 550px;

  @include media-screen-desktop() {
    padding-top: 60px;
    padding-bottom: 26px;
  }

  @include small-screen-desktop() {
    padding-top: 10px;
    background-image: unset;
  }
}

.world__container {
  display: flex;
  gap: 102px;
  align-items: center;

  @include media-screen-desktop() {
    gap: 70px;
  }

  @include small-screen-desktop() {
    gap: 30px;
    flex-direction: column-reverse;
  }

  @include mobile-screen-desktop() {
    gap: 20px;
  }
}


@media screen and (max-width: 1260px) {
  .world__image {
    width: 47%;
  }
}

@media screen and (max-width: 960px) {
  .world__image {
    width: 100%;
  }
}

.world__content {
  width: 480px;

  @include media-screen-desktop() {
    width: 43%;
  }

  @include small-screen-desktop() {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

}

.world__title {
  @include title();
  margin-bottom: 20px;

  @include mobile-screen-desktop() {
    @include mobile-title();
    margin-bottom: 10px;
  }
}

.world__text {
  font-weight: 300;
  font-size: 17px;
  line-height: calc(30 / 17);
  color: map-get($colors,"medium-grey");
  margin-bottom: 39px;

  @include media-screen-desktop() {
    font-size: 19px;
    margin-bottom: 29px;
  }

  @include small-screen-desktop() {
    margin-bottom: 20px;
  }

  @include mobile-screen-desktop() {
    font-size: 17px;
    margin-bottom: 10px;
  }
}

.world__button {
  @include button();
  min-width: 164px;
  padding: 10px 37px 10px 39px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;

  @include mobile-screen-desktop() {
    width: 150px;
    padding: 10px 30px;
    line-height: 1.2;
  }
}


