.world {
  padding-top: 143px;
  padding-bottom: 146px;
  background-image: url("../static/Image/circle.svg");
  background-repeat: no-repeat;
  background-position: bottom 300px right 550px;

  @include media-tablet-screen() {
    padding-top: 60px;
    padding-bottom: 26px;
  }

  @include media-small-screen() {
    padding-top: 10px;
    background-image: unset;
  }
}

.world__container {
  display: flex;
  gap: 102px;
  align-items: center;

  @include media-tablet-screen() {
    gap: 70px;
  }

  @include media-small-screen() {
    gap: 30px;
    flex-direction: column-reverse;
  }

  @include media-phone-screen() {
    gap: 20px;
  }
}

.world__image {

  @include media-tablet-screen() {
      width: 47%;
    }

  @include media-small-screen() {
      width: 100%;
    }
}

.world__content {
  width: 480px;

  @include media-tablet-screen() {
    width: 43%;
  }

  @include media-small-screen() {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

}

.world__title {
  @include title();
  margin-bottom: 20px;

  @include media-phone-screen() {
    margin-bottom: 10px;
  }
}

.world__text {
  font-weight: 300;
  font-size: 1.7rem;
  line-height: calc(30 / 17);
  color: map-get($colors,"medium-grey");
  margin-bottom: 39px;

  @include media-tablet-screen() {
    font-size: 1.9rem;
    margin-bottom: 29px;
  }

  @include media-small-screen() {
    margin-bottom: 20px;
  }

  @include media-phone-screen() {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }
}

.world__button {
  min-width: 164px;
  padding: 10px 37px 10px 39px;

  @include media-phone-screen() {
    width: 150px;
    padding: 10px 30px;
    line-height: 1.2;
  }
}


