html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

.container-lg {
  width: 1307px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1380px) {
  .container-lg {
    width: 95%;
  }
}

@media screen and (max-width: 1260px) {
  .container-lg {
    width: 90%;
  }
}

@media screen and (max-width: 960px) {
  .container-lg {
    width: 87%;
  }
}

.container {
  width: 1242px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1380px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 1260px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: 90%;
  }
}

.container-small {
  width: 1129px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1260px) {
  .container-small {
    width: 90%;
  }
}

@media screen and (max-width: 960px) {
  .container-small {
    width: 85%;
  }
}

.hero {
  background-image: url("../static/Image/circle.svg"),
                    url("../static/Image/circle.svg");
  background-repeat: no-repeat;
  background-position: bottom 475px left 230px, bottom 160px left 930px ;
}

@media screen and (max-width: 1380px) {
  .hero {
    background-image: unset;
  }
}
