* {
  box-sizing: border-box;
}

.container-lg {
  width: 1306px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1242px;
  margin-right: auto;
  margin-left: auto;
}

.container-small {
  width: 1129px;
  margin-left: auto;
  margin-right: auto;
}
