html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

.container-lg {
  width: 1307px;
  margin-left: auto;
  margin-right: auto;

  @include wide-screen-desktop() {
    width: 85%;
  }

  @include media-screen-desktop() {
    width: 90%;
  }

  @include small-screen-desktop() {
    width: 87%;
  }

  @include mobile-screen-desktop() {
    width: 92%;
  }
}

.container {
  width: 1242px;
  margin-right: auto;
  margin-left: auto;

  @include wide-screen-desktop() {
    width: 90%;
  }

  @include media-screen-desktop() {
    width: 95%;
  }

  @include small-screen-desktop() {
    width: 90%;
  }
}

.container-small {
  width: 1129px;
  margin-left: auto;
  margin-right: auto;

  @include media-screen-desktop() {
    width: 90%;
  }

  @include small-screen-desktop() {
    width: 85%;
  }

  @include mobile-screen-desktop() {
    width: 90%;
  }
}

  .hero {
    background-image: url("../static/Image/circle.svg"),
    url("../static/Image/circle.svg");
    background-repeat: no-repeat;
    background-position: bottom 475px left 230px, bottom 160px left 930px ;

    @include wide-screen-desktop() {
      background-image: unset;
    }
  }



